


# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environments
.venv/
venv/

# Environment
.env

# IDE
.vscode/
.idea/

# Runtime data
data/chroma_db/
data/uploads/*

# Keep folder structure
!data/uploads/.gitkeep

# Databases
*.sqlite3
*.db

# Binary artifacts
*.bin

# Notebook checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db